@model PikaSystemStatus

<div class="mt-5">
    <section>
        <div class="mb-2">
            <i class="bi bi-braces-asterisk small text-muted"></i> 
            <span class="h5">Saved Tasks</span> <span class="text-muted small font-monospace">[@Model.SavedTasks.Count]</span>
            <a href="/task/add" class="btn btn-secondary btn-sm float-end"><i class="bi bi-plus-lg"></i> New</a>
        </div>
        <div class="border border-light px-2">
            @foreach(var item in Model.SavedTasks)
            {
                <div class="row py-2 my-1">
                    <div class="col-10 text-truncate">
                        <i class="bi bi-arrow-right-short text-muted small"></i>
                        <a class="text-reset text-decoration-none" href="/task/@item.Id">@item.Name</a>
                    </div>
                    <div class="col-2 text-truncate text-end">
                        <span class="bg-primary-subtle px-1">@item.RunCount runs</span>
                    </div>
                </div>
            }
        </div>
    </section>
    @if(Model.LatestRuns.Any())
    {
        <section class="mt-5">
            <div class="mb-2"><i class="bi bi-braces-asterisk small text-muted"></i> <span class="h5">Latest <span class="small font-monospace text-muted">@Model.LatestRuns.Count</span> runs</span></div>
            <div class="border border-light px-2">
                @foreach (var item in Model.LatestRuns)
                {
                    <div class="row py-2 my-1">
                        <div class="col-6 text-truncate">
                            <i class="bi bi-arrow-right-short text-muted small"></i>
                            <a class="text-reset text-decoration-none" href="/run/@item.Id">@item.TaskName</a>
                        </div>
                        <div class="col-3 text-truncate text-end small text-muted">
                            <span>@((new DateTime(item.CreatedAt)).ToHuman())</span>
                        </div>
                        <div class="col-3 text-truncate text-end">
                            @Html.Raw(item.GetStatusBadge())
                        </div>
                    </div>
                }
            </div>
        </section>
    }
    <section class="mt-5">
        <div class="mb-2"><i class="bi bi-braces-asterisk small text-muted"></i> <span class="h5">Statistics</span></div>
        <div class="border border-light px-2">
            <div class="row py-2 my-1">
                <div class="col-10 text-truncate">
                    <i class="bi bi-database text-muted"></i> Database size
                </div>
                <div class="col-2 font-monospace small text-muted bg-info-subtle text-end">
                    @Model.DbSize.ToByteSizeHuman()
                </div>
            </div>
            <div class="row py-2 my-1">
                <div class="col-10 text-truncate">
                    <i class="bi bi-terminal text-muted"></i> Total runs
                </div>
                <div class="col-2 font-monospace small text-muted bg-success-subtle text-end">
                    @Model.RunCount
                </div>
            </div>
        </div>
    </section>
    @* <div class="row">
        <div class="col-sm-6 mb-3">
            <div class="card h-100">
                <div class="card-header text-center">
                    Saved Tasks
                </div>
                <div class="list-group">
                    @foreach (var item in Model.SavedTasks)
                    {
                        <a href="/run/@item.Id" class="list-group-item  d-flex justify-content-between align-items-center">
                            <span><i class="bi bi-signpost text-muted"></i> #@item.Name</span>
                            
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card h-100">
                <div class="card-header text-center">
                    Latest runs
                </div>
                <div class="list-group">
                    @foreach (var run in Model.LatestRuns)
                    {
                        <a href="/run/@run.Id" class="list-group-item  d-flex justify-content-between align-items-center">
                            <span><i class="bi bi-signpost text-muted"></i> #@run.Id</span>
                            <span class="badge bg-primary rounded-pill" title="@run.GetTotalElapsed()">@run.Status.ToString()</span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 mb-3">
            <div class="card h-100">
                <div class="card-header text-center">
                    Stats
                </div>
                <div class="list-group">
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        <span><i class="bi bi-file-bar-graph text-muted"></i> SQLite DB Size</span>
                        <span class="badge bg-primary rounded-pill">@Model.DbSize.ToByteSizeHuman()</span>
                    </div>
                    <a href="/task" class="list-group-item d-flex justify-content-between align-items-center">
                        <span><i class="bi bi-list text-muted"></i> Total Saved Tasks</span>
                        <span class="badge bg-primary rounded-pill">@Model.TaskCount</span>
                    </a>
                    <a href="/run" class="list-group-item d-flex justify-content-between align-items-center">
                        <span><i class="bi bi-signpost text-muted"></i> Total Runs</span>
                        <span class="badge bg-primary rounded-pill">@Model.RunCount</span>
                    </a>
                    <a href="/run?status=@PikaTaskStatus.Pending" class="list-group-item d-flex justify-content-between align-items-center">
                        <span><i class="bi bi-caret-right text-muted"></i> Runs - Pending</span>
                        <span class="badge bg-primary rounded-pill">@Model.TaskInPendingCount</span>
                    </a>
                    <a href="/run?status=@PikaTaskStatus.Running" class="list-group-item d-flex justify-content-between align-items-center">
                        <span><i class="bi bi-caret-right text-muted"></i> Runs - Running</span>
                        <span class="badge bg-primary rounded-pill">@Model.TaskInRunningCount</span>
                    </a>
                    <a href="/run?status=@PikaTaskStatus.Completed" class="list-group-item d-flex justify-content-between align-items-center">
                        <span><i class="bi bi-caret-right text-muted"></i> Runs - Completed</span>
                        <span class="badge bg-primary rounded-pill">@Model.TaskInCompletedCount</span>
                    </a>
                    <a href="/run?status=@PikaTaskStatus.Stopped" class="list-group-item d-flex justify-content-between align-items-center">
                        <span><i class="bi bi-caret-right text-muted"></i> Runs - Stopped</span>
                        <span class="badge bg-primary rounded-pill">@Model.TaskInStoppedCount</span>
                    </a>
                    <a href="/run?status=@PikaTaskStatus.Dead" class="list-group-item d-flex justify-content-between align-items-center">
                        <span><i class="bi bi-caret-right text-muted"></i> Runs - Dead</span>
                        <span class="badge bg-primary rounded-pill">@Model.TaskInDeadCount</span>
                    </a>
                </div>
            </div>
        </div>
    </div> *@
</div>