@using Humanizer.Localisation
@model PikaSystemStatus

<div class="mt-5">
    <div class="row">
        <div class="col-sm-4 mb-3">
            <div class="card">
                <div class="card-header text-center">
                    Tasks run most often
                </div>
                <div class="list-group">
                    @foreach (var task in Model.MostRunTasks)
                    {
                        <a href="/task/@task.Key.Id" class="list-group-item  d-flex justify-content-between align-items-center">
                            <span>
                                <i class="fa-solid fa-list-check text-muted"></i> @task.Key.Name
                            </span>
                            <span class="badge bg-primary rounded-pill">@task.Value</span>
                        </a>
                    }

                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3">
            <div class="card">
                <div class="card-header text-center">
                    Runs take longest
                </div>
                <div class="list-group">
                    @foreach (var run in Model.LongestRuns)
                    {
                        <a href="/run/@run.Id" class="list-group-item  d-flex justify-content-between align-items-center">
                            <span><i class="fa-solid fa-person-running text-muted"></i> #@run.Id</span>
                            <span class="badge bg-primary rounded-pill">@run.GetTotalElapsed().Humanize(minUnit: TimeUnit.Second, maxUnit: TimeUnit.Hour)</span>
                        </a>
                    }

                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3">
            <div class="card">
                <div class="card-header text-center">
                    Stats
                </div>
                <div class="list-group">
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        <span><i class="fa-solid fa-database text-muted"></i> SQLite DB Size</span>
                        <span class="badge bg-primary rounded-pill">@Model.DbSize.Bytes().ToString("#.#")</span>
                    </div>
                    <a href="/task" class="list-group-item d-flex justify-content-between align-items-center">
                        <span><i class="fa-solid fa-list text-muted"></i> Total Tasks</span>
                        <span class="badge bg-primary rounded-pill">@Model.TaskCount</span>
                    </a>
                    <a href="/run" class="list-group-item d-flex justify-content-between align-items-center">
                        <span><i class="fa-solid fa-person-running text-muted"></i> Total Runs</span>
                        <span class="badge bg-primary rounded-pill">@Model.RunCount</span>
                    </a>
                    <a href="/run?status=@PikaTaskStatus.Pending" class="list-group-item d-flex justify-content-between align-items-center">
                        <span><i class="fa-solid fa-angle-right text-muted"></i> Realtime - Pending runs</span>
                        <span class="badge bg-primary rounded-pill">@Model.TaskInPendingCount</span>
                    </a>
                    <a href="/run?status=@PikaTaskStatus.Running" class="list-group-item d-flex justify-content-between align-items-center">
                        <span><i class="fa-solid fa-angle-right text-muted"></i> Realtime - Running runs</span>
                        <span class="badge bg-primary rounded-pill">@Model.TaskInRunningCount</span>
                    </a>
                    <a href="/run?status=@PikaTaskStatus.Completed" class="list-group-item d-flex justify-content-between align-items-center">
                        <span><i class="fa-solid fa-angle-right text-muted"></i> Realtime - Completed runs</span>
                        <span class="badge bg-primary rounded-pill">@Model.TaskInCompletedCount</span>
                    </a>
                    <a href="/run?status=@PikaTaskStatus.Stopped" class="list-group-item d-flex justify-content-between align-items-center">
                        <span><i class="fa-solid fa-angle-right text-muted"></i> Realtime - Stopped runs</span>
                        <span class="badge bg-primary rounded-pill">@Model.TaskInStoppedCount</span>
                    </a>
                    <a href="/run?status=@PikaTaskStatus.Dead" class="list-group-item d-flex justify-content-between align-items-center">
                        <span><i class="fa-solid fa-angle-right text-muted"></i> Realtime - Dead runs</span>
                        <span class="badge bg-primary rounded-pill">@Model.TaskInDeadCount</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>