@model TaskRunOutputViewModel

<div class="bg-light p-3 my-2">
    <div class="row my-2">
        <div class="col-sm-2 fw-bold">Task: </div>
        <div class="col-sm-4" id="task">@Model.TaskName (#@Model.TaskId)</div>
        <div class="col-sm-2 fw-bold">Status: </div>
        <div class="col-sm-4" id="status">@Model.Status</div>
    </div>
    <div class="row">
        <div class="col-sm-2 fw-bold">Start: </div>
        <div class="col-sm-4" id="taskRunStart">@Model.RunStartAt</div>
        <div class="col-sm-2 fw-bold">End: </div>
        <div class="col-sm-4" id="taskRunEnd">@Model.RunEndAt</div>
    </div>
</div>

<div class="my-3">
    <h4>Script Snapshot</h4>
    <div class="overflow-auto height-max-1">
        <pre><code>@Model.Script</code></pre>
    </div>
</div>

<div class="my-2">
    <h4>Run Output</h4>
    <div id="runOutput" class="font-monospace fs-6 my-3 border p-2 overflow-auto bg-dark text-white height-max-2">
        @foreach (var o in Model.Outputs)
        {
            <pre class="m-0 ps-1" title="@o.CreatedAt">@o.Message</pre>
        }
    </div>
</div>

@section Scripts {
    <script>
        let lastTimestamp = @Model.MaxTimestamp;
        let runEndAt = document.querySelector("#taskRunEnd");
        let status = document.querySelector("#status");
        let runOutput = document.querySelector("#runOutput");
        runOutput.scrollTop = runOutput.scrollHeight;

        let interval = setInterval(function() {
                loopOutput(lastTimestamp);
            },
            1500);

        function loopOutput(t) {
            fetch(`/api/run/@Model.RunId/output?laterThan=${t}`, { method: "GET" })
                .then(res => res.json())
                .then(data => {
                    lastTimestamp = data.maxTimestamp;
                    runEndAt.innerHTML = data.runEndAt;
                    status.innerHTML = data.status;

                    data.outputs.forEach(o => {
                        let newDiv = document.createElement("div");
                        newDiv.innerHTML = `<pre class="m-0 ps-1" title="${o.createdAt}">${o.message}</pre>`;
                        runOutput.appendChild(newDiv);
                        runOutput.scrollTop = runOutput.scrollHeight;
                    });

                    if (data.status === "Completed" || data.status === "Dead") {
                        clearInterval(interval);
                    }
                });
        }
    </script>
}