@model TaskDetailViewModel

@{
    ViewData["Title"] = $"Task #{Model.Task.Id}";
}

<div class="small row my-3">
    @Model.Task.Description
</div>

<div class="row mb-3 bg-dark py-2">
    <div class="col-md-2 my-1">#@Model.Task.Id</div>
    <div class="col-md-4 my-1">@Model.Task.Name</div>
    <div class="col-md-2 my-1">@Model.RunCount</div>
    <div class="col-md-4 my-1">
        <a class="btn btn-info btn-sm mx-1" href="/task/@Model.Task.Id/update"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
        <button type="button" class="btn btn-success btn-sm mx-1" onclick="runTask(@Model.Task.Id)"><i class="fa-solid fa-person-running"></i> Run</button>
    </div>
</div>

<div class="row overflow-auto height-max-1 rounded my-3">
    <pre class="m-0 p-2" id="script">@Model.Task.Script</pre>
</div>

<div class="row small my-3">
    <p class="px-0">Latest runs</p>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Start At</th>
            <th scope="col">Completed At</th>
            <th scope="col">Elapsed</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Runs)
        {
            <tr>
                <td>#@item.Id</td>
                <td>@Html.Raw(item.GetStartAtHtml())</td>
                <td>@Html.Raw(item.GetCompletedAtHtml())</td>
                <td>@Html.Raw(item.GetElapsedHtml(true))</td>
                <td>@item.Status</td>
                <td>
                    <a type="button" class="btn btn-primary btn-sm mx-1" href="/run/@item.Id"><i class="fa-solid fa-circle-info"></i> Detail</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        hljs.highlightElement(document.querySelector("#script"));
        setActive("taskNav");
    </script>
}