@model PagedViewModel<TaskDetailViewModel>
@{
    ViewData["Title"] = "All Tasks";
}

<div class="text-end mb-3">
    <a href="/task/add" class="btn btn-secondary btn-sm"><i class="fa-solid fa-plus"></i> Create new task</a>
</div>

<div class="table-responsive">
    <table class="table text-md-center align-middle ">
        <thead>
        <tr>
            <th>Id</th>
            <th>Task Name</th>
            <th>Run Times</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>#@item.Task.Id</td>
                <td class="text-start">@item.Task.Name</td>
                <td>@item.RunCount</td>
                <td>
                    <a type="button" class="btn btn-primary btn-sm m-1" href="/task/@item.Task.Id"><i class="fa-solid fa-circle-info"></i> Detail</a>
                    <a class="btn btn-info btn-sm m-1" href="/task/@item.Task.Id/update"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                    <button type="button" class="btn btn-success btn-sm m-1" onclick="runTask(@item.Task.Id)"><i class="fa-solid fa-person-running"></i> Run</button>
                    <button type="button" class="btn btn-danger btn-sm m-1" onclick="deleteTask(@item.Task.Id)"><i class="fa-solid fa-trash-can"></i> Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>


<page total-pages="@Model.TotalPages" current-page="@Model.CurrentPage" url="@Model.Url"></page>

@section Scripts{
    <script>
        function deleteTask(id) {
            showConfirmMessageModal(`Are your sure to delete task #${id}?`,
                function() {
                    submitRequest(`/api/task/${id}`,
                        {
                            method: "DELETE",
                            okAction: function(res) {
                                window.location.reload();
                            }
                        });
                });
        }

        setActive("taskNav");
    </script>
}