@model List<PikaAppViewModel>
@{
    ViewData["Title"] = "App";
}

<div class="text-end mb-3">
    <a href="/app/add" class="btn btn-secondary btn-sm"><i class="bi bi-plus-lg"></i> Create new App</a>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var item in Model)
    {
        var disabledStart = item.State == "Running" ? "disabled" : "";
        var disabledStop = item.State == "Running" ? "" : "disabled";
        <div class="col">
            <div class="card text-center bg-body bg-gradient ">
                <div class="card-img-top text-center py-2">
                    <div class="fs-2"><i class="bi bi-emoji-smile"></i></div>
                </div>
                <div class="card-body pt-0">
                    <h5 class="card-title font-monospace">@item.App.Name &sdot; <span class="@item.StateClassName">@item.State</span></h5>
                    <div class="mb-3">
                        <a href="@item.Url" target="_blank" class="bg-info-subtle p-2 link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                            <i class="bi bi-link-45deg"></i> @item.Url
                        </a>
                    </div>
                    <div class="fs-5 card-text font-monospace">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary" onclick="initApp('@item.App.Id')"><i class="bi bi-nut"></i> Init</button>
                            <button type="button" class="btn btn-success" @disabledStart onclick="startApp('@item.App.Id')"><i class="bi bi-toggle-on"></i> Start</button>
                            <button type="button" class="btn btn-warning" @disabledStop onclick="stopApp('@item.App.Id')"> <i class="bi bi-toggle-off"></i> Stop</button>
                            <button type="button" class="btn btn-info" onclick="updateApp('@item.App.Id')"><i class="bi bi-pen"></i> Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



@section Scripts {
    <script>
                function startApp(id) {
            submitRequest(`/api/app/${id}/start`,
                {
                    method: "POST",
                    okAction: function (res) {
                        showInfoMessageModal(`<pre style="background:white;color:black;padding:3px;">${res}</pre>`, () => window.location.reload());
                    },
                    preAction: function () {
                        hideContainer();
                        showSpinner();
                    },
                    postAction: function () {
                        hideSpinner();
                        showContainer();
                    }
                });
        }

        function stopApp(id) {
            submitRequest(`/api/app/${id}/stop`,
                {
                    method: "POST",
                    okAction: function (res) {
                        showInfoMessageModal(`<pre style="background:white;color:black;padding:3px;">${res}</pre>`, () => window.location.reload());
                    },
                    preAction: function () {
                        hideContainer();
                        showSpinner();
                    },
                    postAction: function () {
                        hideSpinner();
                        showContainer();
                    }
                });
        }

        function initApp(id) {
            submitRequest(`/api/app/${id}/init`,
                {
                    method: "POST",
                    okAction: function (res) {
                        showInfoMessageModal(`<pre style="background:white;color:black;padding:3px;">${res}</pre>`, () => window.location.reload());
                    },
                    preAction: function () {
                        hideContainer();
                        showSpinner();
                    },
                    postAction: function () {
                        hideSpinner();
                        showContainer();
                    }
                });
        }

        function updateApp(id){
            window.location.href=`/app/${id}/update`;
        }

        setActive("navApp");
    </script>
}