@model PikaSetting

<div id="misc" class="my-2">
    <h4>Misc</h4>
    <fieldset>
        <form class="needs-validation" novalidate id="miscForm">
            <div class="mb-3 row">
                <label for="itemsPerPage" class="col-md-2 col-form-label">Items per page</label>
                <div class="col-md-10">
                    <input type="number" class="form-control" id="itemsPerPage" min="1" max="50" step="1" value="@Model.ItemsPerPage" name="itemsPerPage" required>
                    <div class="invalid-feedback">
                        Required
                    </div>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="retainSizeInMb" class="col-md-2 col-form-label">Retain DB Size in MB</label>
                <div class="col-md-10">
                    <input type="number" class="form-control" id="retainSizeInMb" min="1" step="1" value="@Model.RetainSizeInMb" name="retainSizeInMb" required>
                    <div class="invalid-feedback">
                        Required
                    </div>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="defaultShellName" class="col-md-2 col-form-label">Default Shell Name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="defaultShellName" value="@Model.DefaultShellName" name="defaultShellName" required>
                    <div class="invalid-feedback">
                        Required
                    </div>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="defaultShellOption" class="col-md-2 col-form-label">Default Shell Option</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="defaultShellOption" value="@Model.DefaultShellOption" name="defaultShellOption">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="defaultShellExt" class="col-md-2 col-form-label">Default Shell Extension</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="defaultShellExt" value="@Model.DefaultShellExt" name="defaultShellExt" required>
                    <div class="invalid-feedback">
                        Required
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="col-md-2 col-form-label"></label>
                <div class="d-grid col-md-10">
                    <button type="submit" class="btn btn-secondary"><i class="fa-solid fa-floppy-disk"></i> Submit</button>
                </div>
            </div>
        </form>
    </fieldset>
</div>

<hr/>

<div id="shrinkDb" class="my-2">
    <h4>Shrink DB Size</h4>
    <fieldset>
        <form id="shrinkDbForm" class="needs-validation" novalidate>
            <label class="form-label">Shrink DB to smaller size, current size is <strong>@ViewData["DbSize"]</strong>. The minimal size is decided by "Retain DB Size in MB" setting(<strong>@Model.RetainSizeInMb MB</strong>).</label>
            <div class="d-grid">
                <button type="submit" class="btn btn-secondary"><i class="fa-solid fa-compress"></i> Shrink</button>
            </div>
        </form>
    </fieldset>
</div>

<hr/>

<div id="import" class="my-2">
    <h4>Import Tasks</h4>
    <fieldset>
        <form action="/setting/import" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFile" class="form-label">Import tasks from JSON file.</label>
                <input class="form-control" type="file" id="formFile" name="file">
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-secondary"><i class="fa-solid fa-file-import"></i> Import</button>
            </div>
        </form>
    </fieldset>
</div>

<hr/>

<div id="export" class="my-2">
    <h4>Export Tasks</h4>
    <fieldset>
        <form action="/setting/export" method="POST">
            <label class="form-label">Export all tasks to JSON file.</label>
            <div class="d-grid">
                <button type="submit" class="btn btn-secondary"><i class="fa-solid fa-file-export"></i> Export</button>
            </div>
        </form>
    </fieldset>
</div>

@section Scripts{
    <script>
        const miscForm = document.querySelector("#miscForm");
        miscForm.addEventListener('submit',
            function(event) {
                event.preventDefault();
                event.stopPropagation();
                submitRequest("/api/setting/update",
                    {
                        form: miscForm,
                        body: new URLSearchParams(new FormData(miscForm)),
                        contentType: "application/x-www-form-urlencoded",
                        okAction: function() {
                            showInfoMessageModal("Your Misc settings are saved successfully.");
                        }
                    });
            });

        const shrinkDbForm = document.querySelector("#shrinkDbForm");
        shrinkDbForm.addEventListener('submit',
            function(event) {
                event.preventDefault();
                event.stopPropagation();
                submitRequest("/api/shrinkDB",
                    {
                        form: shrinkDbForm
                    });
            });

        setActive("settingNav");
    </script>
}