@model PagedViewModel<TaskDetailViewModel>
@{
    ViewData["Title"] = "Saved Tasks";
}

<div class="text-end mb-3">
    <a href="/task/add" class="btn btn-secondary btn-sm"><i class="bi bi-plus-lg"></i> Create new saved task</a>
</div>

<div class="table-responsive overflow-hidden">
    <table class="table text-md-center align-middle table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th class="text-start">Task Name</th>
                <th>Run Times</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>#@item.Task.Id</td>
                    <td class="text-start">@item.Task.Name</td>
                    <td>@item.RunCount</td>
                    <td>
                        <div class="row">
                            <div class="col mb-2 me-1">
                                <a class="btn btn-primary btn-sm  w-100" href="/task/@item.Task.Id"><i class="bi bi-info"></i> Detail</a>
                            </div>
                            <div class="col mb-2 me-1">
                                <button type="button" class="btn btn-success btn-sm  w-100" onclick="runTask(@item.Task.Id)"><i class="bi bi-signpost"></i> Run</button>
                            </div>
                            <div class="col mb-2 me-1">
                                <a class="btn btn-info btn-sm  w-100" href="/task/@item.Task.Id/update"><i class="bi bi-pen"></i> Edit</a>
                            </div>
                            <div class="col mb-2 me-1">
                                <button type="button" class="btn btn-danger btn-sm  w-100" onclick="deleteTask(@item.Task.Id)"><i class="bi bi-trash"></i> Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<page total-pages="@Model.TotalPages" current-page="@Model.CurrentPage" url="@Model.Url"></page>

@section Scripts{
    <script>
        function deleteTask(id) {
            showConfirmMessageModal(`Are your sure to delete task #${id}?`,
                function () {
                    submitRequest(`/api/task/${id}`,
                        {
                            method: "DELETE",
                            okAction: function (res) {
                                window.location.reload();
                            }
                        });
                });
        }

        setActive("taskNav");
    </script>
}