@model PagedViewModel<RunDetailViewModel>
@{
    ViewData["Title"] = "All Runs";
}

<div class="table-responsive">
    <table class="table text-md-center align-middle ">
        <thead>
        <tr>
            <th>Id</th>
            <th class="text-start">Task Name</th>
            <th>Started At</th>
            <th>Completed At</th>
            <th>Elapsed</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>#@item.Run.Id</td>
                <td class="text-start">@item.TaskName (<a href="/task/@item.Run.TaskId">#@item.Run.TaskId</a>)</td>
                <td>@Html.Raw(item.Run.GetStartAtHtml())</td>
                <td>@Html.Raw(item.Run.GetCompletedAtHtml())</td>
                <td>@Html.Raw(item.Run.GetElapsedHtml(true))</td>
                <td>@item.Run.Status</td>
                <td>
                    <a type="button" class="btn btn-primary btn-sm m-1" href="/run/@item.Run.Id"><i class="fa-solid fa-circle-info"></i> Detail</a>
                    @if (item.Run.Status == PikaTaskStatus.Running)
                    {
                        <button class="btn btn-danger btn-sm mx-1" onclick="stopRun('@item.Run.Id')"><i class="fa-solid fa-stop"></i> Stop</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<page total-pages="@Model.TotalPages" current-page="@Model.CurrentPage" url="@Model.Url"></page>

@section Scripts{
    <script>
        setActive("runNav");
    </script>
}