@model PikaScriptIndexViewModel

<h5 class="mb-3"><i class="bi bi-card-list"></i> Saved scripts</h5>

<div class="text-end mb-3">
    <a href="/app/add" class="btn btn-secondary btn-sm"><i class="bi bi-plus-lg"></i> Create new script</a>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var item in Model.SavedScripts)
    {
        <div class="col">
            <div class="card text-center bg-body bg-gradient ">
                <div class="card-img-top text-center py-2">
                    <div class="fs-2"><i class="bi bi-command"></i></div>
                </div>
                <div class="card-body pt-0">
                    @* <h5 class="card-title font-monospace">@item.Name</h5>
                    <div class="mb-3">
                        <a href="@item.Url" target="_blank" class="bg-info-subtle p-2 link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
                            <i class="bi bi-link-45deg"></i> @item.Url
                        </a>
                    </div>
                    <div class="fs-5 card-text font-monospace">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary" onclick="initApp('@item.App.Id')"><i class="bi bi-nut"></i> Init</button>
                            <button type="button" class="btn btn-success" onclick="startApp('@item.App.Id')"><i class="bi bi-toggle-on"></i> Start</button>
                            <button type="button" class="btn btn-warning" onclick="stopApp('@item.App.Id')"> <i class="bi bi-toggle-off"></i> Stop</button>
                            <button type="button" class="btn btn-info" onclick="updateApp('@item.App.Id')"><i class="bi bi-pen"></i> Edit</button>
                        </div>
                    </div> *@
                </div>
            </div>
        </div>
    }
</div>